#!/bin/bash
# Run the undercloud install

set -eux

{% for var in (undercloud_env_vars|default([])) %}
export {{ var }}
{% endfor %}

sudo crudini --set \
    /etc/ironic/ironic.conf \
    ssh \
    libvirt_uri \
    '{{ libvirt_uri }}'

openstack undercloud install
